<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title>See Soccer Live</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>See Soccer Live</h1>
    <div class="banner">
    <h2> Been to a cool stadium? We want to hear it about it and if we've been there we will let you know what we think of it!</h2>
      
    
    
    
    
    
    </div>

    


    
  </body>
</html>

<%- include('./partials/footer') %>
