<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title>See Soccer Live</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Is it lit</h1>
    <div class="banner">
    
      
    
    
    
    
    
    </div>

    


    
  </body>
</html>

<%- include('./partials/footer') %>
