<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title>See Soccer Live</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ISITLIT </h1>
    
    <% if (user) { %>
          
      <button ><a href="/logout">LOG OUT</a></button>
    <% } else { %>
      <button ><a href="/auth/google" class="login">LOGIN</a></button>
    <% } %>
    <div class="banner">

      
    
      
    
    
    
    
    
    </div>

    


    
  </body>
</html>

<%- include('./partials/footer') %>
