<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title>See Soccer Live</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>See Soccer Live</h1>
    
  </body>
</html>

<%- include('./partials/footer') %>
