body {
  padding: 50px;
  font-family: "Kiwi Maru", serif;

  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
button {
  border-width: 1em;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;

  margin: auto;
  justify-content: center;
}
.login {
  display: flex;

  height: 34px;
}
.login {
  color: #f76c5e;
}
h1 {
  color: #a0cfd3;
  text-align: center;
  font-size: 5rem;
}
h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.login img {
  height: 30px;
}
a {
  text-decoration: none;
  color: black;
  font: bold;
  font-size: 1rem;
  padding: 10px;
}
a:hover {
  text-decoration: none;
  color: black;
  font: bold;
}

nav {
  display: flex;
  background: #8d94ba;
  width: 88vw;
  display: flex;
}

.table {
  border-collapse: collapse;
  box-shadow: 0 0 10px #a0cfd3;
  width: 80vw;
}
.table th,
td {
  padding: 1px;
  font: sans-serif;
  color: #b4edd2;
  font-size: 1rem;
}
.table th {
  color: B4EDD2;
}
table,
.table {
  background-color: red;
  width: 80vw;
  margin: auto;
}
form {
  width: 5vw;
  padding: 10%;
}
#show-page > div {
  color: #b4edd2;
}
td > a {
  color: #b4edd2;
}
label {
  color: #b4edd2;
}
