body {
  padding: 50px;
  font-family: 'Kiwi Maru', serif;
  background-image: url('https://i.imgur.com/3ftUOcr.jpg');
  font-size: 16px;
  
  
  
}
*, *:before, *:after {
  box-sizing: border-box;
}



.login {
  display: flex;
  
  
  height: 34px;
  
  
}
.login  {
  color: #F76C5E;
}
h1{
  color: #A0CFD3;
  text-align: center;
  font-size: 5rem;
}
 h2{
  color: white;
  text-align: center;
  font-size: 5rem;
}
.login img {
  height: 30px;
  
}
a{
  text-decoration: none;
  color: black;
  font: bold;
  font-size: 2rem;
  padding: 10px;
  
  
  
}
a:hover{
  text-decoration: none;
  color: #B4EDD2;
  font: bold;
  font-size: 1.4rem;
  
  padding: 10px;
  
}

nav{
  display: flex;
  background: #8D94BA;
  width: 88vw;
  display: flex;
}
.banner{
  
  width: 100vw;
  background: black;
  
  
}
.bvb{
  width: 80vw;
  height: 60vh;
  display: center;
  
  
}
.table{
  border-collapse: collapse;
  box-shadow: 0 0 10px #A0CFD3;
  width: 80vw;
  

}
.table th,td{
  padding: 10px;
  font: sans-serif;
  color: #B4EDD2;
  font-size: 2.5rem;
}
.table th{
  color: B4EDD2;
}
form  {
  width:50vw;
  padding:20%;
}
#show-page > div{
  color: #B4EDD2;
}
td >a{
  color: #B4EDD2;
}
label{
  color: #B4EDD2;
}